{% load static %}
<script type="text/javascript" src="{% static 'restaurante/js/application/app.js' %}"></script>

<script type="text/javascript" src="{% static 'restaurante/js/application/services/ajax_itemCardapio.js' %}"></script>

<script type="text/javascript" src="{% static 'restaurante/js/application/directives/directive_listaItemCardapio.js' %}"></script>

<script type="text/javascript" src="{% static 'restaurante/js/application/controllers/controller_cardapio.js' %}"></script>
<script type="text/javascript" src="{% static 'restaurante/js/application/controllers/controller_opcao.js' %}"></script>
<script type="text/javascript" src="{% static 'restaurante/js/application/controllers/controller_subcardapio.js' %}"></script>
<script type="text/javascript" src="{% static 'restaurante/js/application/controllers/controller_itemCardapio.js' %}"></script>

<script type="text/javascript" src="{% static 'restaurante/js/application/controllers/controller_itemCardapio.js' %}"></script>