{% extends 'restaurante/base-card.html' %}

{% block content %}
	<h2>{{number}}</h2>

 	{% if form %}
 		<form method="post" action="." class="">
			{% csrf_token %}

			{{ form.status }}
			{% for field in form.visible_fields %}
		      <div class="form-group{% if field.errors %} has-error{% endif %}">
		  		<label for="{{ field.label }}" class="control-label col-sm-2">{{ field.label }}</label>
		        <div class="col-sm-10">
		        	{{ field }}
		        	{% if field.help_text %}
			          <span class="help-block">{{ field.help_text }}</span>
			        {% endif %}
			        {% for error in field.errors %}
			          <label class="control-label">{{ error }}</label>
			        {% endfor %}
		        </div>
		      </div>
		    {% endfor %}
		    <div class="form-group">
		    	<input type="submit" value="Salvar" class="btn btn-success">
				<a href="{% url 'restaurante:meus_cardapios' %}" class="btn btn-danger"><span>Cancelar</span></a>
		    </div>
		</form>
 	{% endif %}
{% endblock %}