<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>{% block title %}Restaurante{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'index/css/bootstrap.min.css'%}" />
	<link rel="stylesheet" href="{% static 'index/css/degustoo.css'%}" />
	<link rel="stylesheet" href="{% static 'index/css/style.css'%}" />
	
	<script src="{% static 'index/js/jquery.min.js' %}"></script>
	<script src="{% static 'index/js/bootstrap.js' %}"></script>
	<script src="{% static 'index/js/degustoo.js' %}"></script>
</head>

<body>
	<nav class="navbar navbar-inverse" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="{% url 'restaurante:index' %}"><img src="{% static 'index/img/main-logo.png' %}" alt="Degustoo"/></a>
	        </div>
	        <div class="collapse navbar-collapse navbar-right">
	            <ul class="nav navbar-nav">
	                <li><a href="{% url 'index:logout' %}">LOGOUT</a></li>
	            </ul>
	        </div><!--/.nav-collapse -->
	    </div>
	</nav>

	<div class="deg-container">
	    <div class="deg-body">
	        <div class="deg-menu">
	            <ul>
	                <li><a href="{% url 'administracao:index' %}">Administração</a></li>
	                <li><a href="{% url 'administracao:registrar_restaurante' %}">Adicionar Restaurante</a></li>
	                <li class="deg-li-parent">
	                    Pedidos
	                    <ul>
	                        <li><a href="#">Hoje</a></li>
	                        <li><a href="#">Relatório</a></li>
	                    </ul>
	                </li>
	            </ul>
	        </div>
	        <div class="deg-content">
	            {% block content %}{% endblock %}
	        </div>
	    </div>
    	<hr>
	    <div class="deg-footer">
	        <footer>
	            <p></p>
	        </footer>
	    </div>

	</div> <!-- /container -->
</body>
</html>